* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 2rem 0;
    gap: 40px;
    background: #333;
    width: 1000px;
    max-width: 80%;
    min-height: 800px;

    @media (max-width: 900px) {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 20px;
    }
}

.img {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    @media (max-width: 900px) {
        width: 100%;
    }
}

.img img,
canvas {
    width: 45vh;
    max-width: 100%;
    max-height: 60vh;
    object-fit: cover;
}

.upload input {
    display: none;
}

.upload label {
    padding: 10px 20px;
    color: #fff;
    border: 2px #fff dashed;
    border-radius: 5px;
    cursor: pointer;
}

.filters {
    width: 50%;

    @media (max-width: 900px) {
        width: 100%;
    }
}

.filters ul,
.filters li {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media (max-width:991px) {
        gap: 10px;
    }
}

.filters label {
    color: #fff;
}

.filters ul li:last-child {
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.filters ul li:last-child * {
    color: #fff;
    padding: 10px 20px;
    background: #060;
    cursor: pointer;
}